/* ---------- COMMON STYLES ------------*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

ul,
ol {
  margin-bottom: 0;
  margin-top: 0;
  list-style-type: none;
  padding-left: 0;
}

img {
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
  background: #fff;
}
.header-container {
  display: flex;
}
.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* --------- /COMMON STYLES --------- */

/* --------- HEADER STYLES --------- */
.first-logo-part {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.page-header {
  align-items: center;
}
.page-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  margin-right: 76px;
}
.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  column-gap: 24px;
}
.adress-info {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  column-gap: 40px;
}
.page-adress {
  align-items: center;
  margin-left: auto;
}
.menu-item {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-item:hover,
.menu-item:focus {
  color: #404bbf;
}

.adress-item-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.adress-item-link:hover {
  color: #404bbf;
}

.page-title {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 48px;
}
.first-page {
  padding-top: 188px;
  padding-bottom: 188px;
}
.first-page {
  background: #2e2f42;
  padding-top: 188px;
}

.button-container {
  display: flex;
  padding: 16px 32px;
}
.order-button {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  margin-left: auto;
  margin-right: auto;
  width: 169px;
  height: 56px;
  border-radius: 4px;
}

.order-button:hover {
  background: #404bbf;
}

.first-button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-align: center;
}
.our-advantages {
  padding-top: 120px;
  padding-bottom: 116px;
  align-items: center;
  padding: 156px;
}
.advantages-list {
  display: flex;
  width: calc((100%-72px) / 4);
  align-items: center;
  column-gap: 24px;
}

.advantages-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  max-width: 264px;
}
.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.page-about-team {
  padding-top: 124px;
  padding-bottom: 116px;
  background: #f4f4fd;
}

.team-list {
  display: flex;
  column-gap: 24px;
}
.team-member {
  width: calc((100%-72px) / 4);
}
.team-member-img {
  border-radius: 0 0 4px 4px;
}

.team-portfolio-tittles {
  margin-bottom: 72px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-section {
  padding-top: 96px;
}
.team-container {
  margin-top: 32px;
  text-align: center;
  width: 264px;
  height: 120px;
  background-color: ;
}
.name-of-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.member-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 32px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
}
.portfolio-list-item-li {
  width: calc((100%-72) / 4);
}
.portfolio-list-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-type-of-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.page-footer {
  background: #2e2f42;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  width: 115px;
}
.first-footer-logo-part {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-overview {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* --------- /HEADER STYLES --------- */
